<div class="container2">
    <div class="contain">
      <img ng-src="{{images}}" alt="image" class="image">
      <div class="lien1"><a href="#!/home">Retour à l'accueil</a></div>
    </div>
    <aside ng-repeat="comments in comment" class="aside2">
       <h5 class="second">{{titles}}</h5>
       <p class="third">{{comments.content}}</p>
       <p class="third">{{comments.content1}}</p>
       <p class="third">{{comments.content2}}</p>
       <p class="third">{{comments.content3}}</p>
       <div class="fourth">LeRoiPhoto est à votre service</div>
    </aside>
</div>